.cart-container p {
    font-size: 16px;
    color: black; 
    justify-content: center;
}   

.cart {
  padding: 20px;
}

.cart h2 {
  color: crimson;
  margin-bottom: 20px;
}
.cart-name{
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item h3 {
  margin: 0;
  font-size: 18px;
}

.cart-item p {
  margin: 5px 0;
  color: crimson;
}

.cart-item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #cc0000;
}



/* Responsive Design */
@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .cart-item-image {
    width: 80px;
    height: 80px;
  }

  .cart-item button {
    width: 100%;
  }
}